<ion-header>
  <ion-toolbar>
    <ion-title>
      Redux
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="storeService.dispatch({ type: 'INCREMENT' })">
    +
  </ion-button>
  <ion-button (click)="storeService.dispatch({ type: 'DECREMENT' })">
    -
  </ion-button>
  <ion-button (click)="storeService.dispatch({ type: 'ADD', payload: 10 })">
    +10
  </ion-button>
  <ion-input readonly [value]="(store$ | async).counter"></ion-input>

  <ion-button (click)="storeService.dispatch({ type: 'ADDLIST' })">
    +
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let item of (store$ | async).list">{{ item }}</ion-item>
  </ion-list>
</ion-content>